.category-tabs {
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    scrollbar-width: none;
  }
  
  .category-tabs::-webkit-scrollbar {
    display: contents;
  }
  
  .category-tab {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.5rem 1rem;
    border-radius: 50px;
    white-space: nowrap;
    cursor: pointer;
    transition: all var(--transition-speed);
  }
  
  .category-tab:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .category-tab.active {
    background-color: var(--dark);
    color: white;
  }